{% extends "base.html"%}
{% block page_content %}
{% load static %}
<div class="container">
  <div class="row m-1">
    <div class="col-sm-6 m-auto bg-light p-5">
      <p class="h2 text-center mb-4 ">Login</p>
      <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        <div class="my-1">
          <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-info"><i class="fas fa-envelope-square text-light"></i></div>
            </div>
            <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username .. ">
          </div>
        </div>

        <div class="my-1">
          <label class="sr-only" for="inlineFormInputGroupUsername">Password</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-info"><i class="fas fa-key text-light"></i></div>
            </div>
            <input type="password" name="password" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter Password ..">
          </div>
        </div>
        <div class="m-auto pt-2">
          <button type="submit" class="btn btn-info m-auto w-100">Login</button>
        </div>
        {% for message in messages%}
        <p class="alert alert-info col-12 mt-3 text-center">{{message}}</p>
        {% endfor %}
        <div class="m-auto pt-3 text-center">

          <p>Don't have an account? <a href="{% url 'register'%}">Sign Up</a></p>
        </div>
      </form>
    </div>

  </div>

</div>

{% endblock %}
