{% extends "base.html"%}
{% block page_content %}
{% load static %}
<div class="container">
  <div class="row m-5 bg-light pt-4 pb-4">
    <div class="col-3">
      {% include 'accounts/account-nav.html'%}

    </div>
    <div class="col-9">
      <h3> {{title}}</h3><hr>
      <form class="" action="{% url 'change_password'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <button type="submit" class="btn btn-info btn-lg">Update Password</button>
      </form>


    </div>


  </div>

</div>

{% endblock %}
