{% extends "base.html"%}
{% block page_content %}
{% load static %}
<div class="container">
  <div class="row m-sm-5 bg-light pt-4 pb-4">
    <div class="col-sm-3">{% include 'accounts/account-nav.html'%}</div>
    <div class="col-sm-9">
      <h3>{{title}}</h3>
      <hr />
      {% if orders %}
      <table class="table-responsive">
        <tbody>
          <tr>
            <th>Order Id</th>
            <th>Item</th>
            <th>Grand Total</th>
          </tr>
          {% for order in orders%}
          <tr class="border-bottom border-primary">
            <td>
              <a href="{% url 'single_order' order_id=order.order.order_id%}"
                >{{order.order.order_id|truncatechars_html:10}}</a>
            </td>
            <td>
              <ul class="list-group list-group-flush bg-transparent">
                {% for item in order.order_items%}
                <li class="mb-0 list-group-item bg-transparent">
                  {{item.product}}
                </li>
                {% endfor %}
              </ul>
            </td>
            <td class="text-right">€{{order.order.grand_total}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>No records found!</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
