<div class="alert fade show alert-dismissible toast-box" role="alert" aria-live="polite" aria-atomic="true" style="">
   <div class="toast custom-toast" data-delay="10000" style="position: fixed; z-index:9999; top: 72px; right: 15px;">
      <div class="toast-header bg-danger">
         <strong class="mr-auto text-light">Warning!</strong>
         <button data-dismiss="alert" type="button" class="p-0 pr-2 close text-light" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="toast-body">
         {{ message }}
      </div>
   </div>
</div>
