{% extends "base.html"%}
{% block page_content %}
{% load static %}
<div class="container">
  <div class="row m-auto col-12">
    <h2 class="display-4 col-12 text-center">{{category_item.category_name}}</h2>
    {% include 'breadcrumb.html'%}
    <div class="row col-12 mb-2 pt-4">
      {% if products%}
      {% for product in products%}
      <div class="card col-sm-4 mb-2">
        <img src="/media/{{ product.productimage_set.all.first.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.title|capfirst }}</h5>
          <p>
            {% for count in star_loop%}
              {% if count <= product.rating %}
                <i class="fa fa-star text-warning" aria-hidden="true"></i>
              {% else %}
                <i class="fa fa-star-o text-warning" aria-hidden="true"></i>
              {% endif %}
            {% endfor %}
          </p>
          <p><strong>{{ product.get_price_range }}</strong></p>
          {% for item in product.variation_set.all %}
            <p>{{item.title|capfirst}}</p>
          {% endfor %}

          <a href="{{ product.get_absolute_url}}" class="btn btn-primary">Select Options</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
        <p>No cakes found !</p>
      {% endif %}
      {% include 'pagination.html'%}
    </div>


  </div>
</div>
{% endblock %}
