{% extends "base.html"%}
{% block page_content %}
{% load static %}
<div class="container">
  <div class="row m-auto col-12">
    <h2 class="display-4 col-12 text-center">{{ title }}</h2>

    <div class="row col-12 mb-2">
      {% for product in products%}
      <div class="card col-4">
        <img src="/media/{{ product.productimage_set.all.first.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.title|capfirst }}</h5>

          {% for item in product.variation_set.all %}
            <p>{{item.title|capfirst}}</p>
          {% endfor %}
          <p class="card-text">{{product.variation_set_all}} {{ product.description|truncatechars_html:20 }}</p>

          <a href="{{ product.get_absolute_url}}" class="btn btn-primary">View Details</a>
        </div>
      </div>
      {% endfor %}
    </div>


  </div>
</div>
{% endblock %}
