{% extends "base.html"%}
{% block page_content %}
{% load static %}
<div class="container">
  <div class="row m-auto col-12 pt-4 pb-4">
    {% include 'breadcrumb.html'%}
    <div class="col-md-5 mb-2 mt-3">

      {% for image in single_product.productimage_set.all %}
        {% if image.featured %}
          <img class="img-responsive w-100" src="/media/{{ image.image }}" alt=""><br>
        {% else %}
          <a href="#"><img style="width:100px" class="img-responsive mt-2 mr-2" src="/media/{{ image.image }}" alt=""></a>
        {% endif%}
      {% endfor %}
    </div>
    <div class="col-md-7 mt-3">
      <h2 class="h1 col-12 text-left pl-0">{{ single_product.title|capfirst }}</h2>
      <p>Ratings:
        {% for count in star_loop%}
          {% if count <= single_product.rating %}
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-star-o text-warning" aria-hidden="true"></i>
          {% endif %}
        {% endfor %}
      </p>
      <p class="btn btn-info">Price: {{ single_product.get_price_range }}</p>
      {{single_product.variation_set.sizes}}
      <div class="form-group col-6 pl-0">
        <label class="h4" for="exampleFormControlSelect1">Cake Size</label>
        <select class="form-control" id="exampleFormControlSelect1" name="">
          <option value="0">Choose an option</option>
          {% for variation in single_product.variation_set.all %}
            <option value="{{variation.price}}">{{variation.size}}</option>
          {% endfor %}
        </select>
      </div>
      <hr>
      <div class="select-price"></div>
      <p></p>
      <div class="product-main-content">{{single_product.description}}</div>
      <div class="note"></div>
    </div>


  </div>
</div>
{% endblock %}
